<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.dmart"
    android:versionCode="86"
    android:versionName="2.9.9.9.88" >

  <!--  <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" /> -->
  <!--<category android:name="android.intent.category.BROWSABLE" />-->
    <!-- GCM 관련 퍼미션 -->
  <!--<permission android:name="kr.co.dmart.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="kr.co.dmart.permission.C2D_MESSAGE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="29" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="로마켓"
		android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.co.dmart.MainActivity"
            android:label="로마켓"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 2020-11-11 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="romarket" android:scheme="romarket" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PushPopup"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            >
            <intent-filter> 
	            <action android:name="kr.co.dmart.pushpopup" />  
	            <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".ImgPopup"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            >
            <intent-filter> 
	            <action android:name="kr.co.dmart.ImgPopup" />  
	            <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>
        </activity>
        
        <activity
			android:name=".cart_activity"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <activity
			android:name=".goods_activity"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        
        <activity
			android:name=".Mypage_activity"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        
        <activity
			android:name=".etc_activity"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        
        <activity
			android:name=".etc_sub_activity"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        
        <activity
			android:name=".ZoomImg_activity"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            >
        </activity>
        
        <activity
			    android:name=".SplashActivity"
			    android:screenOrientation="unspecified"
			    android:configChanges="orientation|keyboardHidden"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        />
        
         <activity
        android:name=".CaptureActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:windowSoftInputMode="stateAlwaysHidden" >
        <intent-filter>
            <action android:name="com.google.zxing.client.android.SCAN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    	</activity>
        
 <!-- FCM 메시지 수신 서비스   --> 
    <service android:name=".FCMService">
      <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <!-- FCM ID 수신 서비스 -->
        <service android:name=".GoBackgroundService"/>
    <!-- FCM token 생성을 위해서 필요한 것 같습니다. -->
    <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" 
      android:permission="com.google.android.c2dm.permission.SEND"> 
            <intent-filter> 
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/> 
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/> 
                <category android:name="com.testfcm"/> 
            </intent-filter> 
     </receiver> 
    
    <provider
         android:authorities="kr.co.dmart.firebaseinitprovider"
         android:name="com.google.firebase.provider.FirebaseInitProvider"
         android:exported="false"
         android:initOrder="100" />
    
    <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".FcmNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>
